body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background color so the quiz box stands out */
    background-color: aliceblue;
}

h1 {
    padding-top: 50px;
}

#rules {
    padding: 30px 40px;
}

/* quiz box styling */
#quiz {
    background-color: white;
    border: 1px solid rgb(120, 187, 241);
    filter: drop-shadow(0 0 5px rgb(128, 128, 128));
    width: 600px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    border-radius: 50px;
    padding-bottom: 50px;
}

/* button styling */
button {
    border: 1px solid black ;
    border-radius: 20px;
    background-color: rgb(155, 230, 255);
    font-size: 18px;
    width: 180px;
    height: 60px;
    position: relative;
    bottom: 50px;
}

/* submit button styling */
#submit {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

#initials {
    margin-bottom: 50px;
}

/* position timer */
#timer {
    position: absolute;
    right: 0px;
    font-size: 18px;
    padding: 35px 50px;
}

/* center highscores list */
#highscores {
    position: relative;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 50%);
    margin-bottom: -50px;
}

#createDiv {
    margin-top: 40px;
}

ul {
    margin-top: 100px;
}

#highscore {
    margin-top: 0;
}

#endQuizHeader {
    margin-top: 50px;
}

/* list styling */
li {
    position: relative;
    left: 47%;
    transform: translate(-50%, 50%);
    background-color: rgb(105, 177, 236);
    width: 40%;
    padding: 10px 0px;
    font-size: 20px;
    color: white;
    border: solid lightblue 2px;
}

/*  on list hover, change opacity */
li:hover {
    opacity: 0.5;
}

/* highscore styles */

#highscore-buttons {
    margin-top: 100px;
}

/* put spacing between the two buttons on highscores page */
#goBack {
    margin-right: 10px;
}